


<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full" *ngFor="let producto of productos">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/420x260">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{producto.descripcion}}</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">{{producto.nombre}}</h2>
          <p class="mt-1">${{producto.precio}}</p>

          <!-- Sección para eliminar y editar producto si sos cliente -->
          <div *ngIf="isAdmin()" class="flex justify-center items-center mt-4"> 
            <button class="fa-solid fa-pen" style="color: #74C0FC;"></button>
            <button class="fa-solid fa-trash" style="color: #dd311b;"></button>
          </div>
          <!-- Sección para agregar al carrito si sos cliente -->
          <div *ngIf="isAdmin()===false" class="flex justify-center items-center mt-4"> 
            <button class="bg-red-300 text-gray-700 px-3 py-1 rounded-l focus:outline-none">-</button>
            <span class="bg-white border border-gray-300 px-4 py-1 text-center">0</span>
            <button class="bg-green-300 text-gray-700 px-3 py-1 rounded-r focus:outline-none">+</button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>


