<header class="text-gray-600 body-font">
  <div >
    <a class="logo" routerLink="" ng-reflect-router-link="" href="">
      <img src="https://www.logotypes101.com/logos/283/501E380BD95F595995F17CF495BCA882/LogoUTN_nvgsb.png" width="30%" height="3%">
      <div class="brand-name">SuperUTN</div>
  </a>
  </div>
  <div *ngIf="!isLoggedIn(); else loggedInBlock" class="auth-buttons">
    <button><a routerLink="/logIn">Iniciar Sesión</a></button>
    <button><a routerLink="/signUp">Registrarse</a></button>
  </div>

  <ng-template #loggedInBlock>
    <div class="user-info">
      <b>Bienvenido, {{ usuario?.nombre }} {{ usuario?.apellido }}</b>
      <span *ngIf="isAdmin()" class="admin-badge">Admin</span>
      <div class="dropdown" (click)="toggleDropdown()">
        <i class="fas fa-bars"></i> <!-- Ícono de menu -->
        <div *ngIf="dropdownOpen" class="dropdown-menu">
          <a *ngIf="isAdmin()" routerLink="/addProducto">Agregar Producto</a>
          <a routerLink="/profile">Perfil</a>
          <a (click)="logOut()">Cerrar Sesión</a>
          <!-- Puedes agregar más opciones aquí -->
        </div>
      </div>
    </div>
  </ng-template>
</header>


