<header class="text-gray-600 body-font">
  <div >
    <a class="logo" routerLink="" ng-reflect-router-link="" href="">
      <img src="https://www.logotypes101.com/logos/283/501E380BD95F595995F17CF495BCA882/LogoUTN_nvgsb.png" width="30%" height="3%">
      <div class="brand-name">SuperUTN</div>
  </a>
  </div>
  <div *ngIf="!isLoggedIn(); else loggedInBlock" class="auth-buttons">
    <button><a routerLink="/logIn">Iniciar Sesión</a></button>
    <button><a routerLink="/signUp">Registrarse</a></button>
  </div>

  <ng-template #loggedInBlock>
    <div class="user-info">
      <span>Bienvenido, {{ usuario?.nombre }} {{ usuario?.apellido }}</span>
      <button (click)="logOut()">Cerrar Sesión</button>
    </div>
  </ng-template>
</header>
<nav>
  <a>Todo</a>
  <a>Bebidas</a>
  <a>Almacén</a>
  <a>Hogar</a>
  <a>Electrodomésticos</a>
</nav>

