<div class="min-h-screen bg-gray-100 py-8">
    <div class="container mx-auto">
      <h1 class="text-3xl font-bold text-center mb-6 text-gray-800">Mis Pedidos</h1>
  
      <div *ngIf="pedidos.length === 0" class="text-center text-gray-500">
        No has realizado ningún pedido aún.
      </div>
  
      <div *ngFor="let pedido of pedidos" class="bg-white rounded-lg shadow-md p-6 mb-4">
        <h2 class="text-lg font-semibold text-gray-800">Pedido #{{ pedido.id }}</h2>
        <p class="text-sm text-gray-600 mb-4">Fecha: {{ pedido.fecha | date: 'short' }}</p>
        <p class="text-sm text-gray-600 mb-4">Monto Total: ${{ pedido.monto }}</p>
  
        <h3 class="text-md font-semibold text-gray-700 mb-2">Detalles del Pedido:</h3>
        <ul class="space-y-2">
          <li *ngFor="let detalle of pedido.detalles" class="flex justify-between text-gray-600">
            <span>{{ detalle.producto.nombre }}</span>
            <span>Cantidad: {{ detalle.cantidad }}</span>
            <span>${{ detalle.producto.precio * detalle.cantidad }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
